Managed/System.ComponentModel.Composition.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UIModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ARModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TextCoreTextEngineModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.GIModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ImageConversionModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityConnectModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.VRModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Data.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.IMGUIModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UIElementsModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Transactions.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.DirectorModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.GraphToolsFoundationModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityAnalyticsModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.IO.Compression.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.ProBuilder.Csg.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ClusterInputModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityAnalyticsCommonModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/Mono.Security.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Xml.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.NVIDIAModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ClusterRendererModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.SubstanceModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.SubsystemsModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UI.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Net.Http.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.ProBuilder.Poly2Tri.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.ProBuilder.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UmbraModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityTestProtocolModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Numerics.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.ProBuilder.KdTree.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.TextMeshPro.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TerrainModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TerrainPhysicsModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityWebRequestTextureModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.RenderPipelines.Core.ShaderLibrary.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ScreenCaptureModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TLSModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/netstandard.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.AI.Navigation.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.LocalizationModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.WindModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.VFXModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.ServiceModel.Internals.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.InputSystem.RebindingUI.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.Mathematics.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.ProBuilder.Stl.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ProfilerModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.StreamingModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityWebRequestAssetBundleModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Security.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.VisualScripting.Core.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.MarshallingModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityWebRequestModule.dll filter=lfs diff=lfs merge=lfs -text
Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.CommandStateObserverModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TextRenderingModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.AIModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.VirtualTexturingModule.dll filter=lfs diff=lfs merge=lfs -text
Resources/unity[[:space:]]default[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
Managed/System.Data.DataSetExtensions.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.VisualScripting.Antlr3.Runtime.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.Physics2DModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.VisualScripting.Flow.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.AssetBundleModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.PropertiesModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.SpriteMaskModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ContentLoadModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.PerformanceReportingModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.VehiclesModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.JSONSerializeModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityCurlModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Drawing.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.AnimationModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ClothModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityWebRequestWWWModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Core.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Xml.Linq.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.AndroidJNIModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.InputLegacyModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.PhysicsModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.AudioModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.CoreModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.HotReloadModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/mscorlib.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.InputSystem.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.CrashReportingModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.InputModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Runtime.Serialization.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.UnityWebRequestAudioModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.IO.Compression.FileSystem.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.InputSystem.ForUI.dll filter=lfs diff=lfs merge=lfs -text
Managed/Assembly-CSharp.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.AccessibilityModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.RuntimeInitializeOnLoadManagerInitializerModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TilemapModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.EnterpriseServices.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.VisualScripting.State.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.ParticleSystemModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.TextCoreFontEngineModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/System.Configuration.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.DSPGraphModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.GridModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.XRModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.Timeline.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.GameCenterModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.SpriteShapeModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/Unity.RenderPipelines.Core.Runtime.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.SharedInternalsModule.dll filter=lfs diff=lfs merge=lfs -text
Managed/UnityEngine.VideoModule.dll filter=lfs diff=lfs merge=lfs -text
